/* Globales */
* {
	box-sizing: border-box;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

body{
	margin: 0 auto;
}

.regi{
	background-image: url(../img/wheat.png);
	color: white;
}
.main-nav img{
	width:25px;
	background-color: white;
	border-radius: 50%;
	border: solid 1px black;
}

body{
	font-weight: bold;
	color: white;
}
.user{
	background-image: url(../img/bg-body.png);
	color: black;
}
/* Container */
.container {
	width: 100%;
	margin: 0 auto;
}

.logo {
	float:left;
	margin-right: 30px;
  color: #fff;
	font-family:Chilanka;
}
.prof{
	width: 50px;
}

.main-nav {
	background-color: rgb(6, 11, 40);
	padding: 5px 15px;
	overflow: hidden;
  color: white;
	width: 100%;
}

.backgroundNav{
	background-color: rgb(6, 11, 40);
  padding: 10px 15px;
  overflow: hidden;
  color: white;
  width: 100%;
}

.backgroundNav img{
	width:50px;
	background-color: white;
	border-radius: 50%;
	border: solid 1px black;
}

.backgroundNav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.backgroundNav a {
	margin-right: 30px;
	line-height: 39px;
	border-top: 40px;
	margin-top: 5px;
	margin-bottom: -15px;
}

.login-register{
	float: right;
	padding-top: 7px;
}

.main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.menu {
	float: left;
	overflow: hidden;
}

.main-nav li {
	float: left;
	margin-right: 30px;
	line-height: 39px;
  border-top: 40px;
}

.main-nav li a:hover{
	text-decoration: underline;
}
.main-nav img{
	width: 50px;
}
.access{
	float: right;

}

.access li {
	margin-right: 0;
	margin-left: 5px;
	margin-right: 10px;
  margin-top: 15px;
}

/*header*/

header{
	width: 100%;
	margin-bottom:0px ;
	z-index: 999;
}

.logform{
	font-family: Lexend Deca;
}
/*Cuerpo*/
.beerhour{
	background-image: url(../img/memphis-mini-dark.png);
	background-repeat: repeat;
}

.beerhour{
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.beerhour img{
	width: 250px;
	height: 250px;
	background-color: white;
	border-radius: 50%;
	border: solid 15px black;

}

.beerhour h1{
font-family: Anton;
text-transform: uppercase;
font-size: 40pt;
padding: 0px;
}

.beerhour h2{
font-family: Anton;
font-size: 25pt;
}

.text3{
	/*background: url(../img/memphis-mini-dark.png);*/
	background-repeat: repeat;
	overflow: hidden;

}
.text3{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0px;
	position: relative;

}

.text3 h2{
	text-transform: capitalize;
	font-size: 25pt;
	font-family: Lobster;
	position: absolute;
	top: 15px;
	text-align: center;
	color: rgba(255, 255, 255);
	background: rgba(0, 0, 0, 0.5);

}

.text3 h3{
	font-family: Chilanka;
	font-size: 15pt;
	position: absolute;
	bottom: 20px;
	text-align: center;
}

#distinto h3{
	bottom: 40px;
}

.text3 img{
	width: 100%;
}

.botonhome{
	position: absolute;
	bottom: 5px;
}

.button {
  background-color: #555555;
  border-radius: 5px;
	border: 2px solid black;
  color: white;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.botonreg{
text-align: center;
border-radius: 5px;
padding: 3px 15px;

}

.botonlog{
	padding: 3pt 25pt;
	border-radius: 5px;
}
/*index logeado*/
.usuar{
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

	overflow: hidden;
}

.content{

	max-width: 100vw;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-top: 15px;
	margin: 0 auto;
	border-radius: 3.5%;
	margin-bottom: 15px;
}

.content2{
	max-width: 95vw;
	padding: 0;
	overflow: hidden;
	justify-content: center;
	flex-direction: row;
	margin-top: 15px;
	margin: 0 auto;
	border-radius: 3.5%;
}

.content-nav{
	background: #fff;
	width: 100%;
	color: black;
	width: 100%;
	padding: 0;
	float: left;
	text-align: left;
}
.content-nav h2{
	margin-left: 135px;
	margin-top: 30px;
}
.content-nav img{
	border-radius: 50%;
	width: 100px;
	float: left;
}
.content-img{
	width: 100%;
	padding: 0;
	background: #fff;

}
.content-img img{
	width: 100%;
	padding: 0;

}
.content-pie{
	background: #fff;
  width: 100%;
  color: black;
	padding: 0;
  height: 310px;
  text-align: left;
  overflow: hidden;
  margin-bottom: 20px;
	text-align: left;


}
.content-pie h3{
	margin: 0px;
}
/*Formularios*/

.form-container {
	max-width: 50vw;
	margin: 0 auto;
}

.form-container h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: Anton;
	font-size: 40pt;
}

.redondeo{
	border-radius: 5px;
}

.registro {
	margin-bottom: 20px;
}

.access-form{
	overflow: hidden;
}

.access-form-log {
	overflow: hidden;
	text-align: center;
}

.access-form label {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;

}

.ingresar{
	margin-top: 7px;

}

.like{
    width: 220px;
    margin-top: 50px;
}

.like-btn {
    background: #3399ff none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    padding: 7px 3px 3px 7px;
    margin-right: 5px;
    margin-top: -5px;
    width: 60px;
}
.centro-comentario{
    margin-left: 22%;
    margin-top: 10px;
}

.centrar{
	width: 39%;
}

.content form button{
	margin-left: 70px;
}

.registro input {
	width: 100%;
  border: 1px solid #ccc;
  padding: 8px 38px 8px 8px;
}

.remember-me {
	text-align: center;
}

.remember-me input {
	width: auto;
}

.alert-hide {
	color: rgb(239, 76, 39);
	font-size: 14px;
	margin-top: 5px;
}

.access-form button {
	font-size: 16px;
  background-color:  rgb(6, 11, 40);
  border: 1px solid  rgb(6, 11, 40);
  color: #fff;
  text-transform: capitalize;
  width: 45%;
  padding: 8px 14px;
  border-radius: 10px;
	cursor: pointer;
}

.regfinal{
	position: relative 50%;
}

/*NAV MASTER.BLADE.PHP*/

.nav{
 overflow: hidden;
 width: 100%;
}

/* Style the search box inside the navigation bar */
.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
}
.search input[type=text] {
    border: 1px solid #ccc;
}

.search button{
  float: right;
  padding: 7px;
  border: none;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 17px;
  border-radius: 4px;
  font-family: Anton;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Chilanka;
}

.a:hover {
  background-color: #111;
}

.izquierda{
  float: left;
}
.derecha{
  float: right;
}

.buscador{
margin-top: 10px;
margin-right: 60px;
padding-right: 10px;
}

.refresh{
  background-color: #ff4d4d;
  padding: 7px;
  border: none;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 17px;
  border-radius: 6px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 90;
}

.nav{
 overflow: hidden;
 width: 100%;
}


/* Style the search box inside the navigation bar */
.search input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 6px;
  margin-right: 16px;
  font-size: 17px;
}
.search input[type=text] {
    border: 1px solid #ccc;
}

.search button{
  float: right;
  padding: 7px;
  border: none;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 17px;
  border-radius: 4px;
  font-family: Anton;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Chilanka;
}

.a:hover {
  background-color: #111;
}

.izquierda{
  float: left;
}
.derecha{
  float: right;
}

.buscador{
margin-top: 10px;
margin-right: 60px;
padding-right: 10px;
}

.refresh{
  background-color: #ff4d4d;
  padding: 7px;
  border: none;
  margin-top: 6px;
  margin-right: 2px;
  font-size: 17px;
  border-radius: 6px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 90;
}


@media only screen and (max-width: 768px) {
.b{display: none;}
}

/*tablet*/
@media(min-width:768px) and (max-width:1200px){
.beerhour h1{
	font-size: 45pt;
}
.beerhour h2{
	font-size: 35pt;
}
.text3 h2{
	font-size: 45pt;
}
.text3 h3{
	font-size: 35pt;
}

.beerhour img{

	width:325px;
	height: 325px;
	background-color: white;
	border: solid 25px black;
}
	 .button{
		 font-size: 25px;
}

.access li {
	margin-right: 0;
	margin-left: 15px;
  margin-top: 15px;
}

}
.b{display: unset ;}
.a{display: none;}

/*.registrar{display: none;}*/




/*PC*/
@media (min-width:1200px){

	.access li {
		margin-right: 0;
		margin-left: 15px;
	  margin-top: 15px;
	}
.a{display: none;}
	.beerhour h1{
		font-size: 80pt;
	}

	.beerhour h2{
		font-size: 60pt;
	}

	.text3 h2{
		font-size: 60pt;
	}

	.text3 h3{
		font-size: 50pt;
	}

		#distinto h3{
			bottom: 60px;
		}

	.button{
		 font-size: 40px;
	 }


	 }
	 /*.registrar{display: none;}*/

	 /*.carrusel*/
